body { font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-style: normal;
}

 /* settings */

 a {text-decoration: none; }
 ul {list-style-type: none; }


 /* header */

.logo-color {
color: var(--NAVY-BLUE, #2E2F42);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}

.header-logo { 
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-link {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-link:hover, .header-link:focus
{color: var(--OCEAN, #404BBF);
    font-style: normal;}

.address-link {
    color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-address { font-style: normal;}

.address-link:hover, .address-link:focus
 {color: var(--OCEAN, #404BBF);
    font-style: normal;}

 

 /* order section */

 .order {background: var(--NAVY-BLUE, #2E2F42);
}

.order-title {
 color: var(--WHITE, #FFF);
font-size: 56px;
font-weight: 700;
line-height:1.07;
letter-spacing: 0.02em;
text-align: center
}

.order-button
{color: var(--WHITE, #FFF);
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;}

.order-button:hover, .order-button:focus
{color: var(--NAVY-BLUE, #404BBF);
    background-color: #404BBF;
}

 /* about section */
.about-title {
 letter-spacing: 0.02em
}


.about-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.2em;
background-color: #FFFFFF
}
.about-text {
    color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* team section */

 .team {
 background: var(--CLOUD, #F4F4FD);
}

.team-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
background-color: #FFFFFF
}


.team-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
background-color: #FFFFFF

}

.team-text {
    color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

 /* portfolio section */

.portfolio {
    background: var(--CLOUD, #F4F4FD);
}

.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-subtitle {
 color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio-text {
    color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

  /* footer */

  .footer
{background: var(--NAVY-BLUE, #2E2F42);}

.footer-logo {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway" , sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-color {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway" , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
